/* contacto */

.multimedia,
.formulario-contacto {
    margin: 30px;
}

.maps {
    padding: 0 30px;
    margin: 50px 0;
}

#gridContact {
    h2,
    .maps {
        h2 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    p {
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.formulario-contacto {
    input[type=text],
    input[type=email],
    input[type=date] {
        border: 1px solid $colorBlack;
        border-radius: 50px;
        height: 25px;
        width: 100%;
        padding: 15px 10px;
    }
}

.grupoform {
    width: 100%;
    margin-bottom: 10px;
    p {
        margin-bottom: 10px !important;
    }
    #message {
        height: 120px;
        border-radius: 15px;
    }
}

@media (max-width: 991px) {
    /* CONTACT */
    #gridContact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "nav nav" "tituloPagina tituloPagina" "form form" "multimedia multimedia" "maps maps" "footer footer"
    }
    .multimedia,
    .formulario-contacto {
        margin: 10px 0;
        padding: 0 30px;
    }
    .multimedia iframe {
        width: 100%;
    }
}