/* GRID HOME */

#homeGrid {
    display: grid;
    grid-template-areas: "header header header header" "nav nav nav nav" "bannerPrincipal bannerPrincipal bannerPrincipal bannerPrincipal" "categorys categorys categorys categorys" "vitrina vitrina vitrina vitrina" "wishlist wishlist wishlist wishlist" "bannersDosCol bannersDosCol bannersDosCol bannersDosCol" "bannersTresCol bannersTresCol bannersTresCol bannersTresCol" "textoSeo textoSeo textoSeo textoSeo" "footer footer footer footer"
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.main-banner {
    grid-area: bannerPrincipal;
}

.categorys {
    grid-area: categorys;
}

.vitrine {
    grid-area: vitrina;
}

.wishlist {
    grid-area: wishlist;
}

.banners-2-col {
    grid-area: bannersDosCol;
}

.banners-3-col {
    grid-area: bannersTresCol;
}

.seo-text {
    grid-area: textoSeo;
}

footer {
    grid-area: footer;
}


/* GRID PRODUCTS */

#productListGrid {
    display: grid;
    grid-template-areas: "header header header header" "nav nav nav nav" "tituloPagina tituloPagina tituloPagina tituloPagina" "vitrina vitrina vitrina vitrina" "footer footer footer footer"
}

.title-page {
    grid-area: tituloPagina;
}


/* GRID WISHLIST */

#wishlistGrid {
    display: grid;
    grid-template-areas: "header header header header" "nav nav nav nav" "tituloPagina tituloPagina tituloPagina tituloPagina" "vitrina vitrina vitrina vitrina" "footer footer footer footer"
}


/* GRID DETAIL PRODUCT */

#productDetailGrid {
    display: grid;
    grid-template-areas: "header header header header header" "nav nav nav nav nav" "tituloPagina tituloPagina tituloPagina tituloPagina tituloPagina" "fotosProducto fotosProducto fotosProducto descripcionProducto descripcionProducto" "footer footer footer footer footer"
}

.picture-product {
    grid-area: fotosProducto;
}

.product-description {
    grid-area: descripcionProducto;
}


/* GRID CARRITO */

#carritoGrid {
    display: grid;
    grid-template-areas: "header header header header header" "nav nav nav nav nav" "tituloPagina tituloPagina tituloPagina tituloPagina tituloPagina" "resumenCarrito resumenCarrito resumenCarrito carritoAmount carritoAmount" "footer footer footer footer footer"
}

.resumen-carrito-products {
    grid-area: resumenCarrito;
}

.resumen-carrito-amount {
    grid-area: carritoAmount;
}


/* GRID CONTACT */

#gridContact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header" "nav nav nav nav" "tituloPagina tituloPagina tituloPagina tituloPagina" "form form multimedia multimedia" "maps maps maps maps" "footer footer footer footer"
}

.formulario-contacto {
    grid-area: form;
}

.multimedia {
    grid-area: multimedia;
}

.maps {
    grid-area: maps;
}

.addtocart {
    border: 1px solid #000;
    padding: 7px 30px;
    color: #000;
    &:hover {
        background: #000;
        color: #fff;
    }
}

.item-sizes {
    margin-bottom: 15px;
}

.select {
    background: #000;
    color: #fff !important;
    font-weight: 600;
}

.swal2-styled.swal2-confirm {
    background-color: #000 !important;
    &:focus {
        box-shadow: 0 0 0 3px #00000040;
    }
}

#totalSinDiscount {
    text-decoration: line-through;
}

.minicart {
    background: #fff;
    width: 40%;
    box-shadow: -11px -10px 5px #e5e5e5;
    border-radius: 9px;
}

.miniopen {
    position: fixed;
    right: 0;
    z-index: 9999999;
    top: 80px;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.miniclose {
    display: none;
}

.item-minicart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 0;
    img {
        width: 24%;
    }
}

.info-product {
    .item-sizes {
        margin-bottom: 0;
    }
    .item-price {
        p {
            margin-bottom: 0;
        }
    }
}

#totalSinDiscount {
    margin-top: 20px;
    text-align: right;
    position: fixed;
    bottom: 33px;
    right: 30px;
    background: #ffffffde;
    border-top: 1px solid #c9c9c9;
    padding-top: 9px;
    width: 36%;
}

#totalCompra {
    text-align: right;
    font-size: 22px;
    background: #ffffffde;
    position: fixed;
    width: 36%;
    bottom: 0;
    right: 30px;
}

.close-minicart {
    text-align: right;
    right: 15px;
    top: 10px;
    a {
        color: #000;
    }
}

@media (max-width: 991px) {
    .minicart {
        width: 80%;
    }
}